/* សម្រួលគម្លាតជួរអក្សរខ្មែរសម្រាប់ចំណងជើងកុំឱ្យជាន់គ្នា */
.khmer-title-moul {
  font-family: 'Moul', cursive;
  font-weight: 400 !important;
  line-height: 2.3 !important;
  letter-spacing: 0.05em;
}

.khmer-body {
  font-family: 'Kantumruy Pro', sans-serif;
  line-height: 1.8 !important;
}